<div class="info container">
  <div class="row">
    <div class=" aboutbody col-md-8 col-sm-12">
      <h3 class="heading">"Hello, I'm Jin Chung."</h3>
      <div class="subhead">I'm a detail oriented software engineer, who strongly believes in test driven development.</div>
      <hr class="about">
      <p class="intro">I studied Computer Science from Texas A&M Corpus Christi and recently graduated from Hack Reactor. I have experience developing a simple webpage to a fullstack web applications. I worked with popular framework such as AngularJS and React to create a one page applications. </p>
      <p class="mid">I believe that work is an ongoing education when you're a programmer. I love learning new and better way to create a more robust websites. I'm always looking for opportunity to learn something new if other people are willing to share their knowledge. At the end of the day I want to create a website that is efficient, clean, and scalable. </p>
      <p class="conclude">When I'm not coding in front of the computer, you can find me working out at the gym, playing tennis, or enjoying the sun at the beach.</p>
    </div>
    <div class="col-md-4 col-sm-2">
      <img class="headshot" ng-src="/assets/headshot.jpg">
    </div>
  </div>
</div>