<ng-fader captures="info.images"></ng-fader>
<div class="apps container">
  <div class="row info">
    <div class="title col-md-9 col-sm-8">{{ info.project.title }}</div>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-md-1 code" ng-href="{{ info.project.github }}">Code</a>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-md-1 demo" ng-href="{{ info.project.url }}">Demo</a>
  </div>
  <div class="description">{{ info.project.description }}</div>
  <div class="techs">
    <div ng-repeat="tech in info.project.tech">
      <p class="tech">{{ tech }}</p>
    </div>
  </div>
</div>