div.landing {
  background-image: url('/assets/topbackground.jpg');
  background-size: cover;
}

div.about {
  background-color: black;
  color: white;
}

div.land.container {
  display: flex;
  flex-direction: column;
}

div.info.container {
  display: flex;
}

div.apps.container {
  display: flex;
  flex-direction: column;
}

h1.name {
  margin: auto;
  font-family: 'Lora', serif;
  font-size: 76px;
  color: whitesmoke;
}

h3.title {
  margin: auto;
  font-family: 'Lora', serif;
  color: floralwhite;
}

h3.heading {
  font-family: 'Playfair Display', serif;
}
