/* Landing Slide Styling */
div.intro {
  background-image: url('/assets/topbackground.jpg');
  background-size: cover;
}

div.land {
  display: flex;
  flex-direction: column;
}

hr.land {
  width: 800px;
  margin: auto;
}

h1.name {
  margin: auto;
  font-family: 'Lora', serif;
  font-size: 76px;
  color: whitesmoke;
}

a#moveDown {
  text-decoration: none;
  color: white;
}

p.land {
  color: white;
  position: relative;
  top: 350px;
  margin: auto;
  font-size: 17px;
  font-family: 'Lora', serif;
}

p.arrow {
  position: relative;
  top: 355px;
  margin: auto;
}

i.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* About Slide Styling */
div.about {
  background-color: rgb(37, 35, 35);
  color: white;
}

h3.title {
  margin: auto;
  font-family: 'Lora', serif;
  color: floralwhite;
  font-size: 40px;
}

img.headshot {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  position: relative;
  top: 75px;
}

h3.heading {
  font-family: 'Playfair Display', serif;
}

div.subhead {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

hr.about {
  width: 50px;
  border-color: #e5ea7a;
  border-width: 5px;
}

p.intro {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

p.mid {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

p.conclude {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

/* Skill Slide Styling */
div.skills {
  background-image: url('/assets/skillbackground.jpg');
  background-size: cover;
  opacity: 0.5;
}

/* Slideshow Styling */
.ng-fader {
  width: 950px;
  margin: auto !important;
}

/* Projects Slide Styling */
div.apps {
  margin-top: 30px;
}

div.title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  margin-top: 12px;
}

a.demo {
  text-decoration: none;
}

a.code {
  margin: 0 20px 20px 50px;
  text-decoration: none;
}

div.description {
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  text-align: justify;
}

div.techs {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

p.tech {
  margin-right: 20px;
  border-color: indianred;
  border-style: solid;
  border-radius: 5px;
  background-color: indianred;
  opacity: .9;
  color: white;
}