div.intro {
  background-image: url('/assets/topbackground.jpg');
  background-size: cover;
}

div.about {
  background-color: black;
  color: white;
}

div.land.container {
  display: flex;
  flex-direction: column;
}

div.info.container {
  display: flex;
}

div.apps.container {
  margin-top: 30px;
}

h1.name {
  margin: auto;
  font-family: 'Lora', serif;
  font-size: 76px;
  color: whitesmoke;
}

h3.title {
  margin: auto;
  font-family: 'Lora', serif;
  color: floralwhite;
}

h3.heading {
  font-family: 'Playfair Display', serif;
}

/* Slideshow Styling */
.ng-fader {
  width: 950px;
  margin: auto !important;
}

/* Projects Slide Styling */
div.title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  margin-top: 12px;
}

a.demo {
  text-decoration: none;
}

a.code {
  margin: 0 20px 20px 50px;
  text-decoration: none;
}

div.description {
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  text-align: justify;
}

div.techs {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

p.tech {
  margin-right: 20px;
  border-color: indianred;
  border-style: solid;
  border-radius: 5px;
  background-color: indianred;
  opacity: .9;
  color: white;
}