<div class="skillbg"></div>
<div class="container">
  <h2 class="skillhead">Skills</h2>
  <hr class="skill">
  <div class="row">
    <div class="col-md-5 col-sm-6">
      <div class="listhead">
        <div class="fa fa-code"></div>
        <p class="subhead">Development</p>
      </div>
      <div class="row items">
        <div class="dev col-md-2 col-xs-1" style="padding-left: 10px">JavaScript</div>
        <div class="dev col-md-2 col-xs-1">HTML</div>
        <div class="dev col-md-2 col-xs-1">CSS</div>
      </div>
      <div class="row items">
        <div class="dev col-md-2 col-xs-1">AngularJS</div>
        <div class="dev col-md-2 col-xs-1">React</div>
        <div class="dev col-md-2 col-xs-1">Node.js</div>
      </div>
      <div class="row items">
        <div class="dev col-md-2 col-xs-1">MongoDB</div>
        <div class="dev col-md-2 col-xs-1">MySQL</div>
        <div class="dev col-md-2 col-xs-1">Mocha</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-5">
      <div class="listhead">
        <div class="fa fa-stack-overflow"></div>
        <p class="subhead">Tools</p>
        <ul class="skill">
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Postman</li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Git</li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Chrome DevTools</li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Command Line</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-sm-5">
      <div class="listhead">
        <div class="fa fa-free-code-camp"></div>
        <p class="subhead">Knowledge</p>
        <ul class="skill">
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Agile Workflow</li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>RESTful API</li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Test Driven Development</li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>ECMAScript 6</li>
        </ul>
      </div>
    </div>
  </div>
</div>